In [1]:
import os
import glob
import math 
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
pathfile = "D:/01_Git/DADS5001-Midterm/01_Data/"
from glob import glob
pathData = [y for x in os.walk(pathfile) for y in glob(os.path.join(x[0], "*.csv"))]

df = pd.DataFrame()
for i in pathData:
    temp = pd.read_csv(i)
    df = df.append(temp)

df = df.drop(columns=['Unnamed: 11', 'district_of_onset'])

print(df.head())
print(df.shape)
df.to_csv("CovidData_120864_280265.csv", encoding="utf_8_sig")

C:\Users\Anyamanee\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

      No. announce_date Notified date   sex   age Unit nationality  \
0  816990     12/8/2021     11/8/2021   ชาย   7.0   ปี    Thailand
1  816991     12/8/2021     11/8/2021   ชาย   1.0   ปี    Thailand
2  816992     12/8/2021     11/8/2021   ชาย  35.0   ปี    Thailand
3  816993     12/8/2021     11/8/2021  หญิง  33.0   ปี    Thailand
4  816994     12/8/2021     11/8/2021  หญิง  14.0   ปี    Thailand

  province_of_isolation                                         risk  \
0              เชียงราย                                        อื่นๆ
1              เชียงราย                                        อื่นๆ
2              เชียงราย                                        อื่นๆ
3              เชียงราย                                        อื่นๆ
4              เชียงราย  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

  province_of_onset
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
(2459109, 10)

In [3]:
result = df.isnull().sum()
print(result)
df.info()

No.                           0
announce_date                 0
Notified date                 0
sex                      123967
age                      190852
Unit                     211168
nationality              201518
province_of_isolation      3684
risk                         93
province_of_onset        297403
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2459109 entries, 0 to 406481
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          object
 2   Notified date          object
 3   sex                    object
 4   age                    object
 5   Unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
dtypes: int64(1), object(9)
memory usage: 206.4+ MB

# Sex

In [4]:
sex_unique = [x for x in set(df["sex"])]
for i in range(0,len(sex_unique)):
    #print(sex_unique[i])
    data_temp =str(sex_unique[i])
    if (data_temp.startswith("ห") == True) or (data_temp.startswith("ญ") == True) or (data_temp.endswith("ง") == True):
        df['sex'] = df['sex'].replace(sex_unique[i],'หญิง')
    elif data_temp.startswith("ช") or data_temp.startswith("น"):
        df['sex'] = df['sex'].replace(sex_unique[i],'ชาย')
    else:
        df['sex'] = df['sex'].replace(sex_unique[i],np.nan)

In [5]:
df['sex'] = df['sex'].fillna("unknown")

In [6]:
sex_unique = [x for x in set(df["sex"])]
sex_unique

['ชาย', 'unknown', 'หญิง']

# DateTime

In [7]:
df["announce_date"] =  pd.to_datetime(df["announce_date"], dayfirst = True)
df["Notified date"] =  pd.to_datetime(df["Notified date"], dayfirst = True)
df.loc[:,["announce_date","Notified date"]].describe()

<ipython-input-7-69b6633e262a>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.loc[:,["announce_date","Notified date"]].describe()
<ipython-input-7-69b6633e262a>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.loc[:,["announce_date","Notified date"]].describe()

              announce_date        Notified date
count               2459109              2459109
unique                  218                  218
top     2022-02-26 00:00:00  2022-02-25 00:00:00
freq                  25615                25615
first   2021-08-12 00:00:00  2021-08-11 00:00:00
last    2022-03-17 00:00:00  2022-03-16 00:00:00

In [8]:
df['diff_Date'] = (df['announce_date'] - df['Notified date']).dt.days
print(df['diff_Date'].describe(),'\n',df.shape)
df= df.loc[df['diff_Date']>=0]
df.shape

count    2.459109e+06
mean     1.000002e+00
std      2.209030e-03
min     -1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
Name: diff_Date, dtype: float64
 (2459109, 11)

(2459108, 11)

# Age and Unit

In [9]:
print(set(df["Unit"]))
#df = df[df.Unit != "Unknown"]
df = df.dropna(subset=['Unit'])
print(df.shape)
print(set(df["Unit"]))

{nan, 'ปี', 'วัน', 'เดือน'}
(2247940, 11)
{'เดือน', 'ปี', 'วัน'}

In [10]:
df['age'] = df['age'].replace("35/11",np.nan)
df['age'] = df['age'].astype(float).apply(np.floor)
df['age'] = df['age'].fillna(np.nan)

df["Unit"] = df["Unit"].astype("category")

In [11]:
df["Unit"] = df["Unit"].astype("category")

In [12]:
bins = [1, 10, 20, 30, 40, 50, 60, 70, 160]
labels = ['1-9','10-19','20-29', '30-39', '40-49', '50-59', '60-69', '70+']
df_new = pd.DataFrame()
for x in list(set(df["Unit"])):
    datatemp= df[df['Unit']==x]
    if x == "ปี":
        datatemp["agerange"] = pd.cut(datatemp['age'],bins, labels = labels, right=False)
    else:
        datatemp["agerange"] = "<1"
    df_new = df_new.append(datatemp)
print(df_new.shape)
print(df.shape)

df = df_new

<ipython-input-12-32cc21cbd424>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datatemp["agerange"] = "<1"
<ipython-input-12-32cc21cbd424>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datatemp["agerange"] = pd.cut(datatemp['age'],bins, labels = labels, right=False)

(2247940, 12)
(2247940, 11)

In [13]:
result = df.isnull().sum()
print(result)

No.                           0
announce_date                 0
Notified date                 0
sex                           0
age                        2263
Unit                          0
nationality              165727
province_of_isolation      3320
risk                         67
province_of_onset        206858
diff_Date                     0
agerange                   2263
dtype: int64

# Risk

In [14]:
data = pd.read_csv('D:\\01_Git\\DADS5001-Midterm\\02_DataClean\\risk.csv')
risk_list = data["Ori"]
list1 = data["Data1"]

In [15]:
for i in range(0,len(risk_list)):
    #print(risk_list[i])
    data_temp =str(risk_list[i])
    if data_temp.startswith(data_temp) == True:
        df['risk'] = df['risk'].replace(risk_list[i],list1[i])
    else:
        df['risk'] = df['risk'].replace(risk_list[i],np.nan)

In [16]:
df.shape

(2247940, 12)

# Nationality

In [17]:
data2 = pd.read_csv('D:\\01_Git\\DADS5001-Midterm\\02_DataClean\\nationality.csv')
nationality_list = data2["Ori"]
list2 = data2["Data2"]

In [18]:
for i in range(0,len(nationality_list)):
    #print(nationality_list[i])
    data_temp =str(nationality_list[i])
    if data_temp.startswith(data_temp) == True:
        df['nationality'] = df['nationality'].replace(nationality_list[i],list2[i])
    else:
        df['nationality'] = df['nationality'].replace(nationality_list[i],np.nan)

In [19]:
df.shape

(2247940, 12)

# province_of_isolation

In [20]:
data3 = pd.read_csv('D:\\01_Git\\DADS5001-Midterm\\02_DataClean\\province_of_isolation.csv')
province_of_isolation_list = data3["DataOri"]
list3 = data3["DataClean"]

In [21]:
for i in range(0,len(province_of_isolation_list)):
    #print(nationality_list[i])
    data_temp =str(province_of_isolation_list[i])
    if data_temp.startswith(data_temp) == True:
        df['province_of_isolation'] = df['province_of_isolation'].replace(province_of_isolation_list[i],list3[i])
    else:
        df['province_of_isolation'] = df['province_of_isolation'].replace(province_of_isolation_list[i],np.nan)

In [22]:
df.shape

(2247940, 12)

# province_of_onset

In [23]:
province_of_onset_list = [x for x in set(df["province_of_onset"])]

data4 = pd.read_csv('D:\\01_Git\\DADS5001-Midterm\\02_DataClean\\province_of_onset.csv')
province_of_onset_list = data4["DataOri"]
list4 = data4["DataClean"]

In [24]:
for i in range(0,len(province_of_onset_list)):
    #print(nationality_list[i])
    data_temp =str(province_of_onset_list[i])
    if data_temp.startswith(data_temp) == True:
        df['province_of_onset'] = df['province_of_onset'].replace(province_of_onset_list[i],list4[i])
    else:
        df['province_of_onset'] = df['province_of_onset'].replace(province_of_onset_list[i],np.nan)

In [25]:
df.shape

(2247940, 12)

In [28]:
df.to_csv("CovidData_120864_280265_Cleaned.csv", encoding="utf_8_sig", index = False)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2247940 entries, 110 to 402074
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          datetime64[ns]
 2   Notified date          datetime64[ns]
 3   sex                    object
 4   age                    float64
 5   Unit                   category
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  diff_Date              int64
 11  agerange               object
dtypes: category(1), datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 207.9+ MB